@page
@model Ristysoft.CashFlow.Pages.RevenueTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Revenue Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RevenueType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RevenueType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RevenueType.Disabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RevenueType.Disabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RevenueType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
